@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import 'primeicons/primeicons.css';
@import './country-flags.css';

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary-50: #fefae8;
  --color-primary-100: #fef5c3;
  --color-primary-200: #ffe889;
  --color-primary-300: #fece2f;
  --color-primary-400: #fbbc14;
  --color-primary-500: #eba307;
  --color-primary-600: #cb7b03;
  --color-primary-700: #a25706;
  --color-primary-800: #86440d;
  --color-primary-900: #723811;
  --color-primary-950: #421c06;
  --font-sans: 'Quicksand', sans-serif;
}

:root {
  --p-tooltip-padding: 0.2rem 0.75rem !important;
  --scrollbar-thumb: var(--color-primary-400);
  --scrollbar-thumb-hover: var(--color-primary-500);
  --scrollbar-track: #f1f1f1;
  --scrollbar-width: 8px;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Estilos para el scrollbar en modo oscuro */
.dark ::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.dark ::-webkit-scrollbar-thumb {
  background: #505050;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #636363;
}

.p-tooltip-text {
  font-size: 14px !important;
}
.custom-text-small {
  font-size: 12.5px;
}

